.nav {
  width: 100%;
  display: flex;
  margin: auto;
  text-align: center;
  flex-direction: row;
  padding-left: 10%;
  scroll-behavior: smooth;
}

.nav a {
  width: 10%;
  font-size: 1vw;
  list-style-type: none;
  text-decoration: none;
  border-radius: 50%;
  background-color: rgb(9, 94, 179);
  scroll-behavior: smooth;
  font-weight: bold;
  padding: 3px;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: red;
  font-size: 2vw;
}

.welcome-text {
  width: 100%;
  height: 5%;
  font-family: Butler, serif;
}

.welcome-text h2 {
  font-size: 5vw;
  letter-spacing: -0.2rem;
  position: absolute;
  margin: auto;
}

.main-image {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  padding: auto;
}
.malek-image {
  width: 30%;
  margin-left: 5px;
}
.main-image-text-container {
  width: 70%;
}
.main-image-text {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: auto;
  position: relative;
}

.text-image {
  max-width: 100%;
  opacity: 0.2;
}
.main-image-text :hover {
  opacity: 1;
  min-width: 101%;
}
.main-image-text h3 {
  position: absolute;
  padding: 10%;
  font-size: 2vw;
  align-items: center;
  margin-top: 50px;
}
.main h3 {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px gray;
  font-style: italic;
}

.text {
  margin: auto;
  font-size: 1.8vw;
}

.table tr :hover {
  background-color: #e60000;
  text-align: center;
}
.photo-cridet {
  font-size: 0.5vw;
}

.video-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto;
  overflow: scroll;
}
.video-container iframe {
  width: 100%;
  height: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .main-app {
    animation: App-logo-spin infinite 20s linear;
  }
}
